@font-face {
  font-family: "RR";
  src: url(Rubik-Regular.ttf);
}
@font-face {
  font-family: "RM";
  src: url(Rubik-Medium.ttf);
}
@font-face {
  font-family: "RSB";
  src: url(Rubik-SemiBold.ttf);
}
@font-face {
  font-family: "IM";
  src: url(Inter-Medium.ttf);
}
@font-face {
  font-family: "ISB";
  src: url(Inter-SemiBold.ttf);
}